beautifulsoup4
crewai==0.65.2
crewai-tools==0.12.1
fastapi
folium
httpx
langchain==0.2.16
# langchain-cohere==0.1.9
# langchain-community==0.2.17
langchain-core==0.2.41
# langchain-experimental==0.0.65
# langchain-google-genai==1.0.10
# langchain-text-splitters==0.2.4
litellm
matplotlib
numpy
opencv_contrib_python
opencv_python
opencv_python_headless
pandas
Pillow
protobuf==3.12.4
pydantic==2.9.2
pydeck==0.9.1
python-dotenv
Requests
scikit_learn
selenium
SQLAlchemy
streamlit
webdriver_manager