# beautifulsoup4
# crewai==0.65.2
# crewai-tools==0.12.1
# fastapi
# folium
# httpx
# langchain==0.2.16
# # langchain-cohere==0.1.9
# # langchain-community==0.2.17
# langchain-core==0.2.41
# # langchain-experimental==0.0.65
# # langchain-google-genai==1.0.10
# # langchain-text-splitters==0.2.4
# litellm
# matplotlib
# numpy
# opencv_contrib_python
# opencv_python
# opencv_python_headless
# pandas
# Pillow
# protobuf==3.12.4
# pydantic==2.9.2
# pydeck==0.9.1
# python-dotenv
# Requests
# scikit_learn
# selenium
# SQLAlchemy
# streamlit
# webdriver_manager


crewai==0.65.2
crewai-tools==0.12.1
# google==3.0.0
# google-ai-generativelanguage==0.6.6
# google-api-core==2.20.0
# google-api-python-client==2.147.0
# google-auth==2.35.0
# google-auth-httplib2==0.2.0
# google-cloud-aiplatform==1.67.1
# google-cloud-bigquery==3.25.0
# google-cloud-core==2.4.1
# google-cloud-resource-manager==1.12.5
# google-cloud-storage==2.18.2
# google-crc32c==1.6.0
google-generativeai==0.7.2
# google-resumable-media==2.7.2
# googleapis-common-protos==1.65.0
opencv-contrib-python==4.10.0.84
opencv-python==4.10.0.84
opencv-python-headless==4.9.0.80
numpy
matplotlib
scikit-image==0.23.2
scikit-learn==1.5.0
SQLAlchemy==2.0.35
fastapi==0.115.0
typing
uvicorn==0.30.6
requests
folium==0.17.0
logging
asyncio
httpx
pillow
pandas
pydeck
pydantic
bs4
litellm
protobuf
python-dotenv
regex==2024.9.11
selenium==4.25.0
langchain==0.2.16
# langchain-cohere==0.1.9
# langchain-community==0.2.17
langchain-core==0.2.41
# langchain-experimental==0.0.65
# langchain-google-genai==1.0.10
# langchain-text-splitters==0.2.4
# langsmith==0.1.125
webdriver_manager
